<%- contentFor('body') %>
<section id='dishes' class='wrapper' ng-controller='dishesController'>
  <h1 class='title'>Pratos</h1>

  <form>
    <button id="open-popup">
      Cadastrar novo Prato
    </button>
  </form>

  <div class='table' ng-show="items.length > 0">
    <p>Restaurante</p>
    <p>Prato</p>
    <p>Preço</p>
    <ul>
      <li ng-repeat='item in items'>
        <div class='content'>
          <div class='buttons'>
            <button ng-click='delete(item._id)'>
              <img src='dist/img/clear.svg'>
            </button>
            <button ng-click="edit(item._id, item.name, item.restaurant._id)">
              <img src='dist/img/edit.svg'>
            </button>
          </div>

          <div class='text'>
            <span>{{ item.restaurant.name }}</span>
          </div>
          <div class='text'>
            <span>{{ item.name }}</span>
          </div>
          <div class='text'>
            <span>{{ item.price }}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>


  <section class="popup">
    <div class="container">
        <div class="inner-content">
            <div class="wrapper">
              <h1>Cadastro de Pratos</h1>

              <form name='dishesForm'>
                <p>
                  <select name="restaurant-list"
                    ng-model="selected"
                    ng-options="restaurant.name for restaurant in restaurants"
                    ng-change="setRestaurant(selected)" ng-required="true">
                    <option value=''>Selecione um restaurante</option>
                  </select>
                </p>

                <p>
                  <input type="text" name="add" id="add" ng-model="dishes.name" ng-required="true"/>
                  <label for="name" class="placeholder">Nome do prato</label>
                </p>

                <p>
                  <input type="text" name="add" id="add" ng-model="dishes.price" ng-required="true" ng-pattern='/[0-9]/'/>
                  <label for="name" class="placeholder">Preço (R$)</label>
                </p>

                <button class='cancel' ng-click='cancel($event)'>
                  Cancelar
                </button>

                <button class='save' ng-class="{ invalid: dishesForm.$invalid }" ng-click='add(dishes)' ng-show='!dishes._id'>
                  Salvar
                </button>

                <button class='save' ng-class="{ invalid: dishesForm.$invalid }" ng-click='update(dishes)' ng-show='dishes._id'>
                  Alterar
                </button>
              </form>
            </div>
        </div>
    </div>
  </section>
</section>
